<p id="notice"><%= notice %></p>

<h1>Tipo de Cuotas</h1>

<table>
  <thead>
    <tr>
      <th>Idcuota</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tcuota.each do |tcuotum| %>
      <tr>
        <td><%= tcuotum.idcuota %></td>
        <td><%= tcuotum.valor %></td>
        <td><%= link_to 'Mostrar', tcuotum %></td>
        <td><%= link_to 'Editar', edit_tcuotum_path(tcuotum) %></td>
        <td><%= link_to 'Eliminar', tcuotum, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Nueva', new_tcuotum_path %>
