<p id="notice"><%= notice %></p>

<h1>Twalles Ds</h1>

<table>
  <thead>
    <tr>
      <th>Idcredito</th>
      <th>Idcobrador</th>
      <th>Numero pago</th>
      <th>Valor recaudado</th>
      <th>Pago capital</th>
      <th>Pago interes</th>
      <th>Pago mora</th>
      <th>Fecha pago</th>
      <th>Fecgrab</th>
      <th>Usergrab</th>
      <th>Dias mora</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twalles_ds.each do |twalles_d| %>
      <tr>
        <td><%= twalles_d.idcredito %></td>
        <td><%= twalles_d.idcobrador %></td>
        <td><%= twalles_d.numero_pago %></td>
        <td><%= twalles_d.valor_recaudado %></td>
        <td><%= twalles_d.pago_capital %></td>
        <td><%= twalles_d.pago_interes %></td>
        <td><%= twalles_d.pago_mora %></td>
        <td><%= twalles_d.fecha_pago %></td>
        <td><%= twalles_d.fecgrab %></td>
        <td><%= twalles_d.usergrab %></td>
        <td><%= twalles_d.dias_mora %></td>
        <td><%= twalles_d.estado %></td>
        <td><%= link_to 'Show', twalles_d %></td>
        <td><%= link_to 'Edit', edit_twalles_d_path(twalles_d) %></td>
        <td><%= link_to 'Destroy', twalles_d, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twalles D', new_twalles_d_path %>
