<p id="notice"><%= notice %></p>

<p>
  <strong>Idcredito:</strong>
  <%= @twalles_d.idcredito %>
</p>

<p>
  <strong>Idcobrador:</strong>
  <%= @twalles_d.idcobrador %>
</p>

<p>
  <strong>Numero pago:</strong>
  <%= @twalles_d.numero_pago %>
</p>

<p>
  <strong>Valor recaudado:</strong>
  <%= @twalles_d.valor_recaudado %>
</p>

<p>
  <strong>Pago capital:</strong>
  <%= @twalles_d.pago_capital %>
</p>

<p>
  <strong>Pago interes:</strong>
  <%= @twalles_d.pago_interes %>
</p>

<p>
  <strong>Pago mora:</strong>
  <%= @twalles_d.pago_mora %>
</p>

<p>
  <strong>Fecha pago:</strong>
  <%= @twalles_d.fecha_pago %>
</p>

<p>
  <strong>Fecgrab:</strong>
  <%= @twalles_d.fecgrab %>
</p>

<p>
  <strong>Usergrab:</strong>
  <%= @twalles_d.usergrab %>
</p>

<p>
  <strong>Dias mora:</strong>
  <%= @twalles_d.dias_mora %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @twalles_d.estado %>
</p>

<%= link_to 'Edit', edit_twalles_d_path(@twalles_d) %> |
<%= link_to 'Back', twalles_ds_path %>
