<p id="notice"><%= notice %></p>

<h1>Tinteres</h1>

<table>
  <thead>
    <tr>
      <th>Idinteres</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tinteres.each do |tintere| %>
      <tr>
        <td><%= tintere.idinteres %></td>
        <td><%= tintere.valor %></td>
        <td><%= link_to 'Show', tintere %></td>
        <td><%= link_to 'Edit', edit_tintere_path(tintere) %></td>
        <td><%= link_to 'Destroy', tintere, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tintere', new_tintere_path %>
