<p id="notice"><%= notice %></p>

<p>
  <strong>Idinteres:</strong>
  <%= @tintere.idinteres %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @tintere.valor %>
</p>

<%= link_to 'Edit', edit_tintere_path(@tintere) %> |
<%= link_to 'Back', tinteres_path %>
