<p id="notice"><%= notice %></p>

<h1>Ttpagos</h1>

<table>
  <thead>
    <tr>
      <th>Idpago</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ttpagos.each do |ttpago| %>
      <tr>
        <td><%= ttpago.idpago %></td>
        <td><%= ttpago.descripcion %></td>
        <td><%= link_to 'Show', ttpago %></td>
        <td><%= link_to 'Edit', edit_ttpago_path(ttpago) %></td>
        <td><%= link_to 'Destroy', ttpago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ttpago', new_ttpago_path %>
