<p id="notice"><%= notice %></p>

<p>
  <strong>Idpago:</strong>
  <%= @ttpago.idpago %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ttpago.descripcion %>
</p>

<%= link_to 'Edit', edit_ttpago_path(@ttpago) %> |
<%= link_to 'Back', ttpagos_path %>
