<p id="notice"><%= notice %></p>

<p>
  <strong>Idcredito:</strong>
  <%= @twallets_c.idcredito %>
</p>

<p>
  <strong>Idcliente:</strong>
  <%= @twallets_c.idcliente %>
</p>

<p>
  <strong>Idcuota:</strong>
  <%= @twallets_c.idcuota %>
</p>

<p>
  <strong>Idpago:</strong>
  <%= @twallets_c.idpago %>
</p>

<p>
  <strong>Idinteres:</strong>
  <%= @twallets_c.idinteres %>
</p>

<p>
  <strong>Idinteres mora:</strong>
  <%= @twallets_c.idinteres_mora %>
</p>

<p>
  <strong>Valor capital:</strong>
  <%= @twallets_c.valor_capital %>
</p>

<p>
  <strong>Valor interes:</strong>
  <%= @twallets_c.valor_interes %>
</p>

<p>
  <strong>Valor mora:</strong>
  <%= @twallets_c.valor_mora %>
</p>

<p>
  <strong>Valor capital pagado:</strong>
  <%= @twallets_c.valor_capital_pagado %>
</p>

<p>
  <strong>Valor interes pagado:</strong>
  <%= @twallets_c.valor_interes_pagado %>
</p>

<p>
  <strong>Valor interes mora pagado:</strong>
  <%= @twallets_c.valor_interes_mora_pagado %>
</p>

<p>
  <strong>Numero cuota:</strong>
  <%= @twallets_c.numero_cuota %>
</p>

<p>
  <strong>Numero cuota pendiente:</strong>
  <%= @twallets_c.numero_cuota_pendiente %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @twallets_c.fechainicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @twallets_c.fechafin %>
</p>

<p>
  <strong>Fecgrab:</strong>
  <%= @twallets_c.fecgrab %>
</p>

<p>
  <strong>Usergrab:</strong>
  <%= @twallets_c.usergrab %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @twallets_c.estado %>
</p>

<%= link_to 'Edit', edit_twallets_c_path(@twallets_c) %> |
<%= link_to 'Back', twallets_cs_path %>
